<div>
  <h2>Que souhaitez vous faire aujourd'hui ?</h2>
  <div class="container">
    <div class="child" routerLink="/activity/sport">
      <img
        class="logo"
        src="../../assets/person-mountain-biking-svgrepo-com.svg"
        alt="sport"
      />
      <p class="name">Sport</p>
    </div>
    <div class="child" routerLink="/activity/culture">
      <img class="logo" src="../../assets/culture.svg" alt="culture" />
      <p class="name">Culture</p>
    </div>
    <div class="child" routerLink="/activity/combination">
      <img class="logo" src="../../assets/combination.svg" alt="culture" />
      <p class="name">Combo</p>
    </div>
    <div class="child" routerLink="/activity/create">
      <img
        class="logo"
        src="../../assets/ping-pong-svgrepo-com.svg"
        alt="culture"
      />
      <p class="name">Créer mon activité de groupe</p>
    </div>
  </div>
</div>
