<div class="container" *ngFor="let i of activities">
  <div class="child">
    <img class="logo" [src]="'assets/' + i.img" alt="" />
    <p class="name" [routerLink]="'/group/' + i.id">{{ i.name }}</p>
    <button
      class="favorite"
      [ngClass]="{ 'favorite--active': i.favorite }"
      (click)="toggleFavorite(i.id)"
    >
      <mat-icon>favorite</mat-icon>
    </button>
    <div class="group">
      <img
        *ngIf="i.doHaveGroup"
        class="group1"
        src="assets/group01.svg"
        alt=""
        [routerLink]="'/group/' + i.id + '/join'"
      />
      <img
        *ngIf="!i.doHaveGroup"
        class="group1"
        src="assets/group-add.svg"
        alt=""
        [routerLink]="'/group/' + i.id + '/join'"
      />
    </div>
    <!-- <img
      *ngIf="i.doHaveGroup"
      class="group2"
      src="assets/group01.svg"
      alt=""
      [routerLink]="'/group/' + i.id"
    />
    <img
      *ngIf="!i.doHaveGroup"
      class="group2"
      src="assets/group-add.svg"
      alt=""
      [routerLink]="'/group/' + i.id"
    /> -->
  </div>
</div>
